.content{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.1em;
}
.AboutCntr{
    height: calc( 100% );
}
.skillsHdg{
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.1em;
    font-family: "PTSansBold";
    text-transform: uppercase;
    margin-bottom: 10px;
}
.AboutHdr{
    background-color: #e1e1e1;
    padding-top: 35px ;
    width: 100%;
}
.AboutMainContainer{
    background-color: #e1e1e1;
    padding: 75px 100px;
    height: calc( 100% - 55px );
    width: calc( 100% - 200px );
}
.imgGap{
    margin-right: 80px;
}