body, html, .Container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: PTSans;
}


@font-face {
  font-family: PTSans;
  src: url('./Fonts/PTSans/PTSans-Regular.ttf');
}
@font-face {
  font-family: PTSansBold;
  src: url('./Fonts/PTSans/PTSans-Bold.ttf');
}
@font-face {
  font-family: PTSansItalic;
  src: url('./Fonts/PTSans/PTSans-Italic.ttf');
}
@font-face {
  font-family: PTSansBoldItalic;
  src: url('./Fonts/PTSans/PTSans-BoldItalic.ttf');
}